venv

_markdown_main*
**main-*

__helpers__*
**__IGNORE__**

*.depytx
*.pytxcode
pythontex-files-main

test_ouputs

*.cut
*.markdown.*

*.vrb
*.snm
*.nav

# pdflatex, latexmk output files
*.fdb_latexmk
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.synctex.gz
*.synctex(busy)
*.glg
*.glo
*.gls
*.fls
*.ist
*.out
*.toc
tex/*.pdf
./notes
.DS_Store
venv/

# pythontex output files
*.mtf
*.maf
*.mtc*
*.pygtex

# pythontex temp filesown files

Anfrage.md
AnfrageISE.md
AnfrageMCC.md
